<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="freamwork.test03"/>
      <class name="freamwork.test03Test"/>
      <class name="freamwork.teat2nd"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
